{% block common_autocomplete_widget %}
    {{ form_row(form) }}
    <script>
        $('#{{ form.term.vars.id }}').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{{ path('adw_common_api__form__autocomplete') }}",
                    data: {
                        limit: 12,
                        term: request.term,
                        target_entity_class: '{{ target_entity_class | url_encode(true) }}',
                        target_entity_id_field: '{{ target_entity_id_field }}',
                        target_entity_term_field: '{{ target_entity_term_field }}'
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                id: item.id,
                                value: item.value
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#{{ form.entity_id.vars.id }}').val(ui.item.id);
                console.log(ui.item);
                return true;
            },
            minLength: 3
        });
    </script>
{% endblock %}